
.clases {
	padding: 5% 10%;
	margin: 0px;
	font-size: 1.4em;
	min-height: 100%;
	color: #192951;
}

.clases h1{
	color: #192951;
	text-align: center;
}
.oferta .col-4 {
	padding-top: 2%;
}
.oferta div.img {
	background-color: rgb(83, 88, 95);
	height: 490px;
	background-size: cover;
	background-position: center;
	position: relative;
}
.oferta div.img img {
	width: 100%;
}

.dance {
	background-image: url(../img/dance_12.jpg);
}

li{
	list-style: none;
}